{% macro image(src, alt, class) %}
  <img src="{{path}}/{{src}}" alt="{{alt}}" class="{{class}}">
{% endmacro %}
{% macro button(class, text, attributes) %}
  {% import "macros/macros.form.twig" as form %}
  {% set default = "btn btn_landing effect effect_bounce-top" %}
  {{form.button('button', "#{default} #{class}", text|raw, attributes)}}
{% endmacro %}

{% macro header(headerClass, title, subtitle) %}
  <div class="section__header {{headerClass}}">
    {% if title %}
      <h3 class="section__title {{title.class}}">{{title.text|raw}}</h3>
    {% endif %}
    {% if subtitle %}
      <p class="section__subtitle {{subtitle.class}}">{{subtitle.text|raw}}</p>
    {% endif %}
  </div>
{% endmacro %}

{% macro cube(title, subtitle, class) %}
  <div class="cube {{class}}">
    <p class="cube__title">{{title|raw}}</p>
    <p class="cube__subtitle">{{subtitle|raw}}</p>
  </div>
{% endmacro %}

{% macro programm(cube, programm) %}
  {% import _self as landing %}
  <div class="programm-item">
    <div class="programm-item__header">
      {{landing.cube(cube.title, cube.subtitle, cube.class)}}
      <div class="programm-item__header-info">
        <p>загрузка</p>
        <p>{{programm.loading}}</p>
      </div>
    </div>
    <div class="programm-item__body">
      <ul class="list programm-item__list">
        {% for li in programm.list %}
          <li>{{li|raw}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro toggle(href, unactive, active, customClass) %}
  <a href="{{href}}" class="toggle {{customClass}}" data-unactive="{{unactive}}" data-active="{{active}}"></a>
{% endmacro %}

{% macro triangle(type = 'left') %}
  <span class="triangle triangle_{{type}}">&nbsp;</span>
{% endmacro %}

{% macro timer(id, title, class) %}
 <div class="timer {{class}}">
  <p class="timer__title">{{title}}</p>
  <div id="{{id}}">
    <div class='hour timer_item'>
      <div class="inner">
        <p class='hour0'></p>
        <p class='hour1'></p>
      </div>
    </div>
    <div class='timer_divider'>:</div>
    <div class='min timer_item'>
      <div class="inner">
        <p class='min0'></p>
        <p class='min1'></p>
      </div>
    </div>
    <div class='timer_divider'>:</div>
    <div class='sec timer_item'>
      <div class="inner">
        <p class='sec0'></p>
        <p class='sec1'></p>
      </div>
    </div>
  </div>
</div>

{% endmacro %}