{% macro hamburger() %}
  <button class="hamburger hamburger_effect-2" type="button" id="js-nav-hamburger">
    <span class="hamburger__lines">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
  </button>
{% endmacro %}

{% macro logo(options, burger) %}
  {% import _self as macros %}
  <div class="nav__logo {{options.class}}">    
    <img class="nav__logo-img" src="{{options.logo}}" alt="{{options.alt}}"/>
    {% if burger %}
      {{ macros.hamburger() }}
    {% endif %}
  </div>
{% endmacro %}

{% macro menu(class) %}
  <nav class="nav__menu {{class}}" id="js-navigation-menu">
    <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll href="#section-experts">ЭКСПЕРТЫ и ПРОГРАММА</a></li>
    {# <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll href="#section-marafon">ЦЕЛИ</a></li> #}
    <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll href="#section-result">РЕЗУЛЬТАТЫ</a></li>
    <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll href="#section-reviews">Отзывы</a></li>
    <li class="nav__menu-item"><a class="nav__menu-item-link nav__menu-item-link_attention" data-scroll href="#section-participation">записаться</a></li>
  </nav>
{% endmacro %}

{% macro addition(class) %}
  <div class="nav__addition {{class}}" id="js-nav-addition">
    <button class="btn nav__addition-button" data-scroll-to="#section-participation">записаться</button>
  </div>
{% endmacro %}