{% import 'macros/macros.landing.twig' as landing %}
{% 
  set items = [
    {
      "status": "active",
      "icon": "img/available-1.png",
      "title": "Личный кабинет",
      "content": "<p>С видеоуроками, заданиями и вебинарной комнатой для встреч с экспертами. Все встречи-вебинары проходят вживую, а значит вы можете в режиме реального времени получать ответы на возникающие вопросы. Бесперебойная работа Личного кабинета обеспечивается службой технической поддержки. Через Личный кабинет вы можете задать вопросы к видеоурокам и получить на них ответы в течение 24 часов.</p>"
    },
    {
      "icon": "img/available-2.png",
      "title": "План питания",
      "content": "
        <p>Перед началом марафона вы получите видео и текстовые инструкции, которые позволят Вам подготовиться к соблюдению плана питания и выбрать наиболее комфортные для себя опции по прохождению марафона.</p>
        <p>вы получите список продуктов на разные бюджеты, рецепты и меню на каждый день, разработанные специалистом по цельному растительному питанию, куратором марафона Дарьей Часовских и утвержденные доктором первой категории Ренатом Хайорвым.</p>
        <p>Мы исходим из того, что вы останетесь в рамках своих привычных затрат времени и денег на питание в случае, если режим Вашего питание на сегодня является отрегулированным и вы обладаете минимальными кулинарными навыками. </p>
        <p>Обратите внимание, что цельное растительное питание не является диетой. Правила и принципы цельного растительного питания не разработаны одним человеком или учреждением. Цельное растительное питание - это комплекс рекомендаций по здоровому питанию, основанный исключительно на научных исследованиях вреда и пользы продуктов питания на здоровье человека, а также утвержденный всеми крупными мировыми организациями здравоохранения и, поддерживаемый известными врачами и учеными по всему миру. Цельное растительное питание подходит людям любого возраста, положения и профессии  (в т.ч. детям, беременным, женщинам во время лактации, спортсменам, людям, занимающимся тяжелым физическим трудом и т.п.). Цельное растительное питание не связано с дефицитом белка, а также имеет в своем составе все незаменимые аминокислоты. Иная информация является заблуждением.  Цельное растительное питание в качестве краткосрочного опыта приведет к снижению веса, активной детоксикации, повышению иммунитета, облегчению симптомов некоторых хронических заболеваний.</p>"
    },
    {
      "icon": "img/available-3.png",
      "title": "Инструкции по физической активности и сну",
      "content": "
        <p>На фоне соблюдения плана питания, 15-минутная телесная практика в день - это минимальное время для достижения заявленных целей марафона по самочувствию и внешнему виду. Сон в течение 7-9 часов в сутки является обязательным условием прохождения марафона.</p>
        <p>Кроме обязательной программы, у Вас будет возможность углубляться в телесные практики, фитнес или фейс-фитнес по Вашему желанию. </p>"
    },
    {
      "icon": "img/available-4.png",
      "title": "Обратная связь",
      "content": "
        <p>От куратора и экспертов марафона, которые всегда на связи чтобы подсказать, помочь и вдохновить.</p>"
    },
    {
      "icon": "img/available-5.png",
      "title": "Группа в Telegram",
      "content": "
        <p>Для общения, знакомств, ежедневного вдохновения результатами других участников и мотивационными сессиями от психолога.</p>"
    }
  ]
%}
<section class="section available" id="section-available">
  <div class="container">
    {{
      landing.header(
      'available__header text-center', 
      {text: 'Во время марафона<br>Вам доступны:'}
      )
    }}
    <div class="available__content collapse">
      {% for item in items %}
        <div class="collapse__group available__group {{item.status}}">
          {{landing.image(item.icon, item.title, 'available__group-image')}}
          <div class="collapse__group-header available__group-header">
            <p class="collapse__group-title available__group-title">{{item.title}}</p>
            <i class="available__group-arrow"></i>
          </div>
          <div class="collapse__group-body available__group-body">
            {{item.content|raw}}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="available__footer text-center">
      {{
        landing.button(
          'available__footer-button btn_brand-1', 
          'Участвовать в марафоне',
          {
            "data-action": "modal",
            "data-open": "#modal-form"
          }
        )
      }}
    </div>
  </div>
</section>