{% import 'macros/macros.landing.twig' as landing %}
{% set cube = {'class': 'programm-item__cube', 'subtitle': 'день'} %}
{%
  set programms_show = [
    {
      "loading": "от 15 мин. до 1 ч. 10 мин.",
      "list": [
        "Питание в соответствии с меню",
        "Видеоурок по изучению <strong>5-минутной телесной практики</strong> на каждый день марафона ",
        "Соблюдение режима сна",
        "Мини-задания",
        "Встреча-вебинар с куратором марафона <strong>“Самолечение образом жизни - научные данные”</strong>",
      ]
    },
    {
      "loading": "от 10 мин. до 1 ч. 40 мин.",
      "list": [
        "Питание в соответствии с меню",
        "Утренняя 5-минутная телесная практика",
        "Соблюдение режима сна",
        "Мини-задания",
        "<strong>Встреча-вебинар с психологом</strong> «С чего начать движение к здоровому образу жизни? Какие здоровые привычки выбрать именно мне?»",
        "Видеоурок по изучению базовых <strong>дыхательных техник</strong>",
      ]
    },
    {
      "loading": "от 20 мин. до 2 ч.",
      "list": [
        "Питание в соответствии с меню",
        "Видеоурок - <strong>утренняя 15-минутная практика</strong> “Пробуждение” ",
        "Соблюдение режима сна",
        "Мини-задания",
        "Встреча-вебинар с тренером по фейс-фитнесу “Знакомство с фейс фитнесом”",
        "Видеоурок <strong>“Расслабление и укрепление мышц шейно-воротниковой зоны”</strong>",
        "Видеоурок фейс-фитнесу ",
        "Видеоурок “Суставная разминка”"
      ]
    },
    {
      "loading": "от 20 мин. до 1 ч. 40 мин.",
      "list": [
        "Питание в соответствии с меню",
        "Видеоурок  - утренняя 15 - минутная практика “Пробуждение”",
        "Соблюдение режима сна",
        "Мини-задания",
        "Встреча-вебинар с доктором Хайровым “Атеросклероз как основной убийца. Концепция растительного питания.”",
        "Видеоурок “Техники повышения эффективности и безопасности любой телесной практики” ",
        "<strong>Видеоурок по фейс-фитнесу</strong>",
        "Серия коротких видеоуроков по освоению техники безопасного и эффективного выполнения  планки, усложненной планки, планки с акцентом на ягодицы, планки с акцентом на нижнюю часть живота"
      ]
    },
    {
      "loading": "от 20 мин. до 1 ч. 50 мин.",
      "list": [
        "Питание в соответствии с меню",
        "Видеоурок - утренняя 15-минутная практика “Пробуждение”",
        "Соблюдение режима сна",
        "Мини-задания",
        "Встреча-вебинар с куратором марафона “Базовые принципы здорового питания”",
        "Видеоурок <strong>“Безопасное выполнение базовых упражнений любой телесной практики”</strong>",
        "Видеоурок по фейс-фитнесу ",
        "Серия коротких видеоуроков по освоению техники безопасного и эффективного выполнения  упражнения на укрепление мышц спины, усложнения упражнения с акцентом на трицепс"
      ]
    },
    {
      "loading": "от 20 мин. до 1 ч. 25 мин.",
      "list": [
        "Питание в соответствии с меню",
        "Видеоурок - утренняя 15-минутная практика “Пробуждение”",
        "Соблюдение режима сна",
        "Мини-задания",
        "Встреча-вебинар с психологом <strong>«Что мешает мне менять свои привычки?»</strong>",
        "Видеоурок “Мягкое развитие подвижности”",
        "Видеоурок по фейс-фитнесу ",
        "Серия коротких видеоуроков по освоению техники безопасного и эффективного выполнения  отжимания, отжимания с усложнением, отжимания с двойным усложнением + видео-урок на понимание терминов “центр” и “кор”"
      ]
    },
    {
      "loading": "от 20 мин. до 1 ч. 25 мин.",
      "list": [
        "Питание в соответствии с меню",
        "Видеоурок  - утренняя 15 - или 25 - минутная практика “Пробуждение” ",
        "Соблюдение режима сна",
        "Мини-задания",
        "<strong>Встреча-вебинар с доктором Хайровым</strong> “Атеросклероз как основной убийца. Концепция растительного питания.”",
        "Видеоурок по фейс-фитнесу",
        "Серия коротких видео-уроков по освоению техники безопасного и эффективного выполнения упражнения на укрепление мышц живота, усложнения упражнения"
      ]
    },
    {
      "loading": "от 20 мин. до 1 ч. 50 мин.",
      "list": [
        "Питание в соответствии с меню",
        "Видеоурок  - утренняя 15 -, 25 - или 35- минутная практика “Пробуждение” ",
        "Соблюдение режима сна",
        "Мини-задания",
        "Встреча-вебинар с куратором марафона “Виды и цели физических нагрузок”",
        "Видеоурок по фейс-фитнесу",
        "2 коротких видеоурок на освоение техники безопасного и эффективного выполнения приседания и 1 короткое видео на освоение техники выполнения выпада",
        "Видеоурок “Универсальная фитнес-тренировка для новичков 4 упражнения” или Видео-урок “Универсальная фитнес-тренировка для более высокого уровня подготовки 7 упражнений”",
      ]
    },

    {
      "loading": "от 20 мин. до 1 ч. 55 мин.",
      "list": [
        "Питание в соответствии с меню или разгрузочный день - практика голодания",
        "Видеоурок  - утренняя 15 -, 25 - или 35- минутная практика “Пробуждение” ",
        "Соблюдение режима сна",
        "Мини-задания",
        "Встреча-вебинар с психологом <strong>“Подведение итогов марафона”</strong>",
        "Видеоурок по фейс-фитнесу",
        "Видеоурок “Универсальная фитнес-тренировка для новичков 4 упражнения №2” или видеоурок “Универсальная фитнес-тренировка для всех уровней подготовки 10 упражнений”"
      ]
    },
    {
      "loading": "от 1 ч. до 2 ч. 35 мин.",
      "list": [
        "Питание в соответствии с меню",
        "Видеоурок  - утренняя 15 -, 25 - или 35- минутная практика “Пробуждение” ",
        "Соблюдение режима сна",
        "Мини-задания",
        "Встреча-вебинар “Оценка результатов и подведение итогов по занятиям фейс-фитнесом”",
        "Видеоурок “40-минутная вечерняя йога-практика”",
        "<strong>Видеоурок “Экспресс-тренировка на все случаи жизни”</strong>",
      ]
    }
  ]
%}
<section class="section programm" id="section-programm">
  {{landing.image('img/programm-bg-1.png', 'Программа', 'programm__bg programm__bg-1')}}
  {{landing.image('img/programm-bg-2.png', 'Программа', 'programm__bg programm__bg-2')}}
  <div class="container">
    {{
      landing.header(
      'programm__header text-center color-brand-2', 
      {text: 'Программа'}
      )
    }}
    <div class="programm__show">
      {% set i = 0 %}
      
      {% for programm in programms_show %}
        {% set i = i + 1 %}
        {% if i > 2 %}
          {% set hiddenClass = 'programm__item_hidden' %}
        {% endif %}
        <div class="programm__item-cover {{hiddenClass}} col-12 col-sm-6" id="programm-item-{{i}}">
          {{
            landing.programm(
              {
                'title': i,
                'subtitle': cube.subtitle,
                'class': cube.class
              },
              {
                "loading": programm.loading,
                "list": programm.list
              }
            )
          }}
        </div>
        {% if i == 2 %}
          <div class="col-12 programm__toggle">
            {{landing.toggle('#programm-hidden', 'Скрыть всю программу', 'Показать всю программу')}}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="programm__button-cover text-center">
      {{
        landing.button(
          'programm__button btn_brand-1',
          'Участвую!',
          {
            "data-scroll-to": "#section-participation"
          }
        )
      }}
    </div>
  </div>
</section>