{% import 'macros/macros.landing.twig' as landing %}
{% set items = [
  {
    'title': 'Внешний вид',
    'items': [
      {"text": "Вес"},
      {"text": "Отёчность"},
      {"text": "Синяки под глазами"},
      {"text": "Состояние кожи","icon": "balance"},
      {"text": "Тусклый вид"}
    ]
  },
  {
    'title': 'Самочувствие',
    'items': [
      {"text": "Хроническая усталость"},
      {"text": "Силы и бодрость","icon": "up"},
      {"text": "Полноценный сон","icon": "up"},
      {"text": "Хорошее настроение","icon": "up"},
      {"text": "Ощущение молодости и привлекательности","icon": "up"}
    ]
  },
  {
    'title': 'Здоровье',
    'items': [
      {"text": "Иммунитет", "icon": "up" },
      {"text": "Симптомы хронических заболеваний" },
      {"text": "Холестерин", "icon": "balance" },
      {"text": "Давление", "icon": "balance" },
      {"text": "Кислотно-щелочной баланс", "icon": "balance" },
      {"text": "Сахар в крови", "icon": "balance" },
      {"text": "Таблетки и лекарства"},
      {"text": "Токсины"},
      {"text": "Походы к врачам"}
    ]
  },
  {
    'title': 'Качество жизни',
    'items': [
      {"text": "Ограничения в исполнении желаний "},
      {"text": "Знания о красоте и здоровье", "icon": "up"},
      {"text": "Новые ощущения и опыт", "icon": "up"},
      {"text": "Фундамент будущих улучшений жизни", "icon": "up"},
      {"text": "Вероятность активного долголетия", "icon": "up"},
      {"text": "Радость при виде себя в зеркале", "icon": "up"},
      {"text": "Затраты на врачей и салоны "},
    ]
  }
]
%}
<section class="section marafon">
  {{landing.image('img/marafon-man.png', 'marafon', 'marafon__man')}}
  <div class="container">
    {{
      landing.header(
      'marafon__header color-white', 
      {text: 'Это НЕ стандартный марафон:'}
      )
    }}
    <div class="marafon__blockquote-outer row">
      <blockquote class="marafon__blockquote color-white">
        - Cкинь 3 кг за неделю, а через две<br>верни их назад. Плюс 2 кг сверху.
      </blockquote>
    </div>
    {{
      landing.header(
      'marafon__subtitle-outer text-center color-white ',
      null,
      {
        text: 'Всего за 10 дней Вы улучшите:',
        class: 'marafon__subtitle'
      }
      )
    }}
    <div class="marafon__items">
      {{landing.image('img/marafon-row-before.png', 'marafon', 'marafon__items-image')}}
      <div class="row">
        {% set i = 0 %}
        {% for item in items %}
          {% set i = i + 1 %}
          <div class="marafon__item marafon__item_{{i}} col-12 col-sm-6">
            <div class="marafon__item-inner">
              {{landing.image('img/marafon-bg.png', 'marafon', 'marafon__item-image')}}
              <p class="marafon__item-title">{{item.title}}</p>
              <ul class="marafon__item-list">
                {% for li in item.items %}
                  <li class="marafon__item-list-li marafon__item-list-li_{{li.icon ? li.icon: 'down'}}">{{li.text}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="marafon__footer text-center">
      {{landing.button('marafon__footer-button btn_white', 'Участвую!')}}
    </div>
  </div>
</section>