{% import 'macros/macros.landing.twig' as landing %}
{% 
  set items_1 = [
    {
      "title": "Что является обязательным условием достижения обещанных результатов?",
      "content": "Соблюдение правил меню (3 опции по строгости и 3 опции по бюджету), 15 минут телесной практики (дыхательные техники и висцеральный массаж) и 5 минут работы с обучающей платформой ежедневно."
    },
    {
      "title": "Вы правда сможете изменить уровень моего холестерина за 10 дней?",
      "content": "Если на сегодня Вы придерживаетесь классического вида питания, да."
    },
    {
      "title": "Сколько кг я могу скинуть за 10 дней?",
      "content": "Мы не можем подписаться под количеством килограмм, которые Вы сбросите. Это зависит от Вашего вида питания, наличия у Вас лишнего веса, особенностей микрофлоры кишечника, обмена веществ, хронических заболеваний и многих других факторов, но мы точно знаем, что, если у Вас ЕСТЬ лишний вес, то несколько кг Вы потеряете абсолютно точно."
    },
    {
      "title": "Я смогу скачать материалы?",
      "content": "Нет, так как мы убеждены, что они Вам не понадобятся. Так или иначе,  все материалы будут доступны  для использования в течения месяца после окончания марафона."
    }
  ]
%}
{% 
  set items_2 = [
    {
      "title": "Что я могу сделать, чтобы получить наиболее высокие результаты из возможных?",
      "content": "Внутри марафона Вы найдете большое кол-во вариантов интенсификации Ваших занятий, условия созданы, главное  - Ваше желание."
    },
    {
      "title": "В чем особенность предлагаемого вами меню?",
      "content": "Оно основано на принципах оздоровительного цельного растительного питания, имеющего все необходимые научные обоснования безопасности и эффективности, разработано сертифицированным нутрициологом и согласовано доктором первой категории, имеет опции по количеству правил необходимых к соблюдению в зависимости от Ваших целей и вкусовых предпочтений, имеет опции по бюджету, не предполагает отказа от мучного и сладкого, а также чувство голода. И это 40 вкуснейших блюд на 10 дней. Здорово, да?"
    },
    {
      "title": "А если я случайно пропущу живую встречу-вебинар?",
      "content": "Встречи-вебинары проходят в “живом” режиме в установленное время. Запись прошедших встреч-вебинаров и видео-уроки  Вы сможете просматривать в любое удобное для Вас время."
    },
    {
      "title": "Есть ли противопоказания к участию в марафоне?",
      "content": "Беременность, лактация, послеоперационные состояния, стадии обострения хронических заболеваний."
    }
  ]
%}
<section class="section question" id="section-question">
  <div class="container">
    {{
      landing.header(
      'question__header text-center', 
      {text: 'Вопросы и ответы'}
      )
    }}
    <div class="question__content collapse">
      <div class="row">
        <div class="col-12 col-sm-6 question__content-column">
          {% for item in items_1 %}
            <div class="collapse__group question__group {{item.status}}">
              <div class="collapse__group-header question__group-header">
                <p class="collapse__group-title question__group-title">{{item.title}}</p>
                <i class="question__group-arrow"></i>
              </div>
              <div class="collapse__group-body question__group-body">
                {{item.content|raw}}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-12 col-sm-6 question__content-column">
          {% for item in items_2 %}
            <div class="collapse__group question__group {{item.status}}">
              <div class="collapse__group-header question__group-header">
                <p class="collapse__group-title question__group-title">{{item.title}}</p>
                <i class="question__group-arrow"></i>
              </div>
              <div class="collapse__group-body question__group-body">
                {{item.content|raw}}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="question__footer text-center">
      {{
        landing.button(
          'question__footer-button btn_white',
          'Зарегистрироваться на марафон',
          {
            "data-scroll-to": "#section-participation"
          }
        )
      }}
    </div>
  </div>
</section>