{% import 'macros/macros.landing.twig' as landing %}
{% 
  set items = [
    "здоровье",
    "питании",
    "психологии",
  ]
%}
<section class="section improve color-brand-2" id="section-improve">
  <div class="container">
    <div class="row improve__content">
      <div class="col-12 col-sm-6">
        {{
          landing.header(
            'improve__header',
            {text: 'Всё об искусстве улучшения своей жизни'},
            {text: 'Больше не нужно собирать информацию по крупицам. Мы собрали <strong>всю самую достоверную</strong> информацию о:'}
          )
        }}
      </div>
      <div class="col-12 col-sm-6 improve__image-cover">
        {{landing.image('img/improve.png', 'improve', 'improve__image')}}
      </div>
    </div>
    <div class="row improve__items">
      {% for item in items %}
        <div class="col-12 col-sm-4 improve__item">
          <div class="improve__item-inner">
            <p>{{item}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="improve__footer text-center">
      {{
        landing.header(
          'improve__footer-subtitle',
          null,
          {text: 'и не только!'}
        )
      }}
      <div class="improve__footer-holder">
        {{landing.timer()}}
        {{
          landing.button(
            'improve__footer-button btn_brand-2',
            'Перейти к программе',
            {
              "data-scroll-to": "#section-programm"
            }
          )
        }}
      </div>
    </div>
  </div>
</section>