{% import 'macros/macros.landing.twig' as landing %}
{% set showImage = false %}
{%
  set reviews = [
    {
      "name": "Елена",
      "image": "img/review1.png",
      "content": "О марафоне я узнала от Бабака. Интересно было узнать все, что связано с похудением, оздоровлением, поэтому и решила поучаствовать. Ожидала привычной пищи (куриная грудка, яйца, каши и тд) а получилось все по-другому. Пришлось мониторить интернет, чтобы кушать все в рамках дозволенного, плюс несколько брала рецептов с расписания меню марафона ( все очень вкусно) Но особенно я переживала, что же кушать на выходных, когда придут гости обмывать мой подарок , муж подарил машину, сфоткаюсь, если нужно)) Так вот я ела овощи на костре)) Так что меню бомба) насчёт вакуума, фейс фитнеса, йоги, пилатес - это вообще здорово и много времени по утрам не занимает) Спасибо всем огромное за большой вклад в лично мой результат и для всех, кто участвовал! Очень довольна результатом, похудела на 6,7 кг за 10 дней, бедра были 104-сейчас 99, талия была 80- сейчас 74))"
    },
    {
      "name": "Надежда",
      "image": "img/review1.png",
      "content": "Меня зовут Надежда. Попала на марафон случайно, всплыла реклама в инстаграме. Я люблю принимать участие в различных марафонах, поэтому долго не раздумывала. А когда прочитала, что будет растительное меню, вообще сразу поняла, что мое! Сама на растительном питании уже год, знаю о всех его плюсах, а на этом марафоне вам так же все расскажут, подкрепят аргументы фактами, все разжуют и красиво упакуют. Фейс фитнес прекрасное дополнение ко всей этой истории с йогой и растительным питанием. В итоге выплываешь из марафона красоткой с другим пониманием мира! По факту у меня увеличилась продолжительность глубокого сна (раньше не помогали ни физ нагрузки, ни таблетки), ушло 1,5 кг из двух лишних, появилась энергия, успеваю за день переделать дела, которые могла растягивать на недели. Появилось желание двигаться, работать, проводить время с ребенком. С помощью техник, которые я изучила на марафоне, мои тренировки в зале стали продуктивнее, я лучше чувствую свое тело и контролирую технику выполнения. На протяжении всего марафона была поддержка психолога, чьи консультации помогают идти до конца. Как приятно жить полной жизнью без скованности, дышать полной грудью и получать удовольствие от мелочей. Спасибо организаторам за проделанную работу! За эти несколько дней вы стали для меня родными!"
    },
    {
      "name": "Юлия",
      "image": "img/review1.png",
      "content": "Я решила участвовать в марафоне, так как хотела изменить отношение к еде в первую очередь. Я уже третий год на веганстве. Правда иногда редко ем рыбу, но не могла сбалансировать правильный приём овощей и фруктов в организме и сильно пошла нехватка витаминов, вследствие чего бессонница, тревоги стресс... Ожидала конечно от марафона правильный информации в первую очередь, наставничество во всём.. В силу работы не получалось у меня общаться в группе, но тем не менее я всю переписку читала. Много получила важной для меня информации, мотивации и позитива... Ожидания оправдались на 100% Наставники большие умники, даже не могу кого-то определенного выделить, так как каждый внес свой вклад. Психолог дала очень нужный совет. Даша открыла глаза на питание, мотивировали очень в группе. Денис отдельная тема, благодаря ему я попала на этот проект читая его посты я решилась на этот проект. Прекрасная гимнастика для лица и йога просто огонь.. Я уверена всё это в последующем мне пригодится. Что будет после марафона определённо жизнь конечно поменяться, прежней уже не будет. Отношения здоровью, к телу, к духу изменилось за время марафона, произошли изменения нет не внешне они внутренние. То, что я носила в себе долгие 4 года и никак не могла решиться я реализовала за эти девять дней. И ни разу не было в душе сомнений что что-то может не получиться, что что-то пойдет не так. Моя задача теперь номер один изменить жизнь своих близких, показать, что можно жить по-другому во многих аспектах. Спасибо большое наставником за вашу мудрость, заботу, опеку и опыт. Только светлые люди могут менять людей!!!"
    },
   {
      "name": "Ольга",
      "image": "img/review1.png",
      "content": "
        <p>Меня зовут Ольга, живу в Петербурге, работаю в небольшой софтверной компании. Из-за болезни и по причинам, связанным со стрессом, набрала лишних 20 кг за довольно короткий срок, 1 год. У меня уже есть успешный опыт похудания на сбалансированном традиционном питании с проработкой психоэмоционального состояния. Рекламу марафона я встретила в ФБ случайно, и так же случайно на него пошла. Занятия начинались на следующий день, так что долго не думала. Не выбирала.</p>
        <p>Я хотела узнать о питании то, чего я еще не знаю – и я это узнала. Открылся целый мир цельно-растительных продуктов и блюд, сухого и водного голодания. Само по себе это увлекательно, а еще увлекательнее узнавать, как цельно-растительное питание и пищевая пауза влияют на организм, на болезни и на характер.Смогу ли я внедрить эту информацию за полгода? Не знаю, может реалистичнее год-полтора. Вот так 10 дней и случайное решение приводят к масштабным изменениям в жизни. Я этому очень рада.</p>
        <p>Эти изменения проходили в комфортной обстановке – ежедневные эфиры с крутыми специалистами, и не только по психологии и питанию, добрый чатик, который меня буквально спас в трудную минуту, когда сидишь одна и кажется нет никаких результатов, насыщенные уроки, замечательные видео по йоге и фитнессу. В уроках много внимания уделялось технике выполнения, безопасности.</p>
        <p>Было интересно. Я получила внимание и поддержку к моей собственной ситуации. Все это очень ценно. Я рекомендую этот марафон тем, кто хочет больше узнать о питании, психологии и физ.активности.</p>
        <p>Большое спасибо и больших успехов!<br> До встречи.</p>
      "
    },
    {
      "name": "Светлана",
      "image": "img/review1.png",
      "content": "
        <p>А я похвалюсь сегодня. 😊 Поехала днем на мастер-класс по созданию свечей. Взяла с собой коробочку с курагой и орехами, т.к. после мк мы обычно пьем чай с разными сладостями. Приехала, творческий процесс окрыляет, как всегда. Стали пить чай, на столе ваза с печеньем, зефиром и вафлями. Я достала свою коробочку. И...она оказалась очень кстати, потому что все девочки за столом сейчас отказываются от сладкого и ищут варианты здорового питания. Моя коробочка зашла на Ура! А я еще со студенческих времен знаю такую фишку: чтобы лучше усвоить материал, расскажи или научи кого-нибудь. Я приходила на экзамены и парням одногруппникам коротко весь материал пересказывала. В итоге они сдавали экзамен на свеже полученной информации и Я свою 5 получала прорепетировав ответ)</p>
        <p>Вот сегодня я все, что у вас в марафоне узнала, всем и рассказала. И все попросили ссылку, и мне самой понравилась эта идея еще больше и решила, что после похудения (С этой целью в марафон попала) продолжу тему изучать и в жизнь свою и сына внедрять.</p>
        <p>Благодарю вас! И простите за много текста. Довольна очень!</p>
      "
    },
    {
      "name": "Екатерина",
      "image": "img/review1.png",
      "content": "
        <p>Будучи студенткой, пробовала полностью отказаться от мясной продукции. Опыт получился полноценным, 1,5 года без мяса. Потом я начала ощущать небольшое смущение в общественных местах, т.к. люди постоянно задавали вопросы и считали, что я таким образом 'выпендриваюсь')) И я ушла от подобной практики, присоединившись к большинству.</p>
        <p>В настоящий момент я не подвержена мнению окружающих. К тому же, сегодня можно вполне комфортно найти абсолютно любую пищевую продукцию как на прилавках продуктовых магазинов, так и в многочисленных кафе и ресторанах Москвы. Поэтому никаких дополнительных 'телодвижений' для соблюдения любого рациона питания не требуется. Отсюда приходим к совершенно точному, а на мой взгляд, основному принципу, о котором много говорила Дарья - ЛЕГКОСТЬ! Мне действительно легко не есть мясо и рыбу. При этом отметила для себя, что рыбу иной раз можно употребить в пищу без зазрения совести)) Мне легко делать утреннюю практику в пределах 15-20 минут, это абсолютно не влияет на картину распорядка дня. Мне легко и приятно (!) гулять со всей семьей в сосновом лесу по 30 минут в день! Делаю это с большим удовольствием! ))</p>
        <p>Мне легко делать перерывы между ужином и завтраком по 12+ часов, так я лучше высыпаюсь и у меня больше энергии на целый день!) В общем, одни плюсы +++)) Итого, я очень-очень благодарна всем специалистам проекта за интересные и вдумчивые видео-семинары, за доступные материалы для самообучения, за видео-уроки (дыхание, шея, йога, фейс-лифтинг...), за отличное весенне-летнее настроение!</p>
        <p>И конечно же, крайне благодарна своему мужу, который активно поддержал меня в плане питания и утренних практик. Благодаря этой поддержке, у меня (у нас) все получилось!</p>
        <p>Всем любви и весны!<br>Екатерина</p>
      "
    },
    {
      "name": "Лана",
      "image": "img/review1.png",
      "content": "
        <p>В марафон попала случайно. Понимала, что набрала кг за зиму и нужно возвращаться в форму, но еще никаких действий не предпринимала. После нервной работы сил ни на что не было и даже на фитнес не хотелось идти. И вот листая ленту в фб наткнулась на рекламу. Сразу же оплатила, хотя обычно еще думаю, а стоит ли. А тут прям спонтанное решение было. Честно сказать, даже и не поняла толком, о чем это.</p>
        <p>В первый день я была в шоке и хотелось покинуть марафон. Потому что я всегда была мясоедом и уверенна была, что только на растительные питания люди злые, агрессивные и у них всякие нарушения случаются в организме. Доказательством для меня был факт о беременности, что во время ожидания ребенка женщин иногда очень тянет на мясо. А ведь беременность - это то, что от природы. Сейчас у меня все еще много вопросов, но лед тронулся. Вы сумели меня растормошить и стимулировали на то, что нужно любой вопрос исследовать всесторонне, прежде чем вставать в позицию отрицания. У меня так же было с моим принятием Москвы: всем показывала, что жить здесь нельзя, и я никогда. А сейчас люблю безумно Москву. Для меня марафон это про никогда не говори никогда. Открытия себя, новой информации, своих возможностей.</p>
        <p>Команда марафона очень качественно подготовила контент. Спасибо огромное!<br>Чувствую себя прекрасно! 10 дней без лекарств от астмы и аллергии - это великолепный результат. Шла за снижением веса, а получила гораздо больше!</p>
      "
    },
    {
      "name": "Александр",
      "image": "img/review1.png",
      "content": "
        <p>Вот уже 5 лет как я каждый март разгружаю свой организм, избавляюсь от лишних килограмм, очищаюсь, занимаюсь спортом. Это были и занятия с тренером в зале, который составлял питание и белковые диеты и известные проекты с сушкой, спортом, подсчетом КБЖУ.</p>
        <p>В этом году я был уверен, что пойду в проект (так как это реальный заряд мотивации), но наступил март, засыпало работой, проблемами дома и желания что-то делать просто не осталось, откладывал, откладывал и вдруг, Сестра кидание мне ссылку на «zozh I galka” со словами: тут есть рецепты и цена очень приемлемая. Посмотрел, думаю, что-то новое, не понятное. За день до начала ещё раз просматривая сайт решил, что лучше жалеть о том, что сделал, чем о том, чего не сделал и провёл оплату участия.</p>
        <p>Что я могу сказать? Я не жалею. Это были насыщенные 10 дней. Много полезной, подкрепленной фактами информации, понятное питание, йога, фейс-фитнес, вебинары, работа с собой, но самое главное это - люди. Люди, которые искренне болеют за своё дело, люди, которые, несмотря на то, что участников мало, крайне мало, выкладываются на полную. Это действительно круто. Отдельное спасибо Дарье) Я «вредный» участник, так как видел много, но даже ко мне нашли подход. Это очень здорово.</p>
        <p>Я сбросил 3,5 кг, потерял в объемах, стал лучше выглядеть, стал спокойнее, но это только начало. Мне показали, как может быть, и я решаю продолжать после проекта. Точно внимательнее относится к выбору продуктов, читать состав, делать практики, занятия и четко понимать к какому результату это ведёт.</p>
      "
    },
    {
      "name": "участница марафона",
      "image": "img/review1.png",
      "content": "
        <p>Моя история чем-то похожа на историю Ольги. Год назад я заболела, а еще произошли достаточно яркие неприятные события в жизни, которые привели к сильному упадку сил. Работать над собой не было никакой возможности.</p>
        <p>Пару месяцев назад силы, наконец, начали появляться. Я взялась за здоровье (методами нетрадиционной медицины). Узнала про закисление/защелачивание и возможности организма вылечиться самостоятельно. Начала практиковать полезные альтернативные медицинские процедуры, массажи и лечебное голодание. Но при этом, должна признаться, на марафон попала случайно (хотя что в нашей жизни случайно?)) — просто хотела похудеть, ну и вполне обрадовалась возможности сделать это, еще и улучшив самочувствие.</p>
        <p>Честно скажу, неприятной новостью стало то, что программа марафона оказалась посвящена полностью растительному питанию (моя ошибка, я не достаточно въедливо изучила материалы сайта). После оплаты курса подумывала отказаться, но послушав Дарью и изучив качественно подготовленные материалы, решила остаться и провести эксперимент. Эксперимент удался! Питаться на цельном растительном питании можно разнообразно вкусно и сытно. Многие рецепты стали находкой и открытием — буду использовать их и в повседневной жизни.</p>
        <p>К моему удивлению, самочувствие действительно улучшилось. Хочется просыпаться утром чуть раньше и успевать делать хотя бы несколько практик. Вечером, после работы, появились силы на домашние дела и уроки с дочкой. Что касается веса — я прибавила за общее время марафона 900 грамм (учитывая, что был один разгрузочный день на воде). Но в объемах уменьшилась точно. Штаны, которые застегивались с трудом, сейчас отлично на мне сидят.</p>
        <p>По поводу приобретенных полезных навыков: я стараюсь делать на работе зарядку по расслаблению и укреплению шейно-воротниковой зоны. И уже почти подсадила на нее коллег! Помимо всего прочего, я открыла для себя мир цельного растительного питания, решила постараться после марафона полностью отказаться от рафинированных продуктов и полуфабрикатов. И иногда возвращаться на детокс в ЗОЖиГалку :)</p>
      "
    },
    {
      "name": "Татьяна",
      "image": "img/review1.png",
      "content": "
        <p>Почему я решила участвовать. В какой-то момент я потерялась. Я руковожу очень большим социальным проектом, который захватил меня настолько, что я забыла о себе любимой, а на поверхности был только проект. Но когда начались проблемы. а какой проект без проблем...я стала «тонуть».</p>
        <p>Вроде как моя идея, я это придумала, именно мне это и нужно в первую очередь, да это так. Но хотелось все по-другому... Делать людей счастливее...! В какой-то момент все стало безразлично. Но, это дало возможность научиться говорить НЕТ некоторым людям, я же безотказная. И вот марафон, случайная встреча, а случайностей в жизни не бывает!</p>
        <p>В ожидании сплоченности, поддержки, встречи с единомышленниками. я нашла все это в группе марафона. Это был и мой проект на это время. Неожиданным и приятным оказалась поддержка кураторов проекта. Столько позитива, человечности и открытости сложно увидеть в настоящее время. Невероятное количество информации, которым они обладают, все это доказывает их компетенцию в данных вопросах. А мое участие, ещё раз доказало самой себе о правильности моих мыслей, что команда — это очень большое дело в любом проекте! </p>
        <p>Я очень счастлива, что познакомилась с вами ребята на этом марафоне! И теперь полная сил и уверенности буду двигаться в нужном мне направлении!</p>
        <p>Вы делаете великое дело и каждый находит здесь то, что он искал!</p>
      "
    },
    {
      "name": "Александра",
      "image": "img/review1.png",
      "content": "
        <p>Я решила участвовать в марафоне, чтобы попробовать цельное растительное питание: вся моя семья – мясоеды. Ожидала сильнейшего голода, но бобовые, орехи и зерновые сильно удивили – довольно легко переносила ограничения. Сложно было без кофе и чая, очень люблю и одно, и другое. В начале было сильное ощущение light headed, но потом вроде стабилизировалось. Удивило, что под конец марафона появилось много прыщей, хотя я вообще не склонна к высыпаниям. Было здорово бросить себе вызов и дотерпеть до конца. В один день психанула и налопалась сухофруктов (а может, и не в один ;)), но все равно умудрилась скинуть 2,5 кг. Это здорово!</p>
      "
    }
  ]
%}
<section class="section reviews" id="section-reviews">
  <div class="container">
    {{
      landing.header(
        'reviews__header text-center color-brand-2', 
        {text: 'Что говорят те,<br>кто уже прошел марафон', class: 'reviews__title'}
      )
    }}
    <div class="reviews__show row">
      {% set i = 0 %}
      
      {% for review in reviews %}
        {% set i = i + 1 %}
        {% if i > 4 %}
          {% set hiddenClass = 'reviews-item_hidden' %}
        {% endif %}
        <div class="reviews-item__cover reviews-item_{{i}} {{hiddenClass}} col-12 col-sm-6">
          <div class="reviews-item">
            <div class="reviews-item__header">
              {% if showImage %}
              {{ landing.image(review.image, review.name|striptags, 'reviews-item__image') }}
              {% endif %}
              <p class="reviews-item__title">{{review.name|raw}}</p>
            </div>
            <div class="reviews-item__body">{{review.content|raw}}</div>
          </div>
        </div>
        {% if i == 4 %}
          <div class="col-12 reviews__toggle">
            {{landing.toggle('#reviews-hidden', 'Свернуть', 'Показать ещё' )}}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>