{% import 'macros/macros.landing.twig' as landing %}
{%
  set info = [
    "Без истощающих<br> диет",
    "Без стандартного<br> подхода к ЗОЖ",
    "Без насилия<br> над собой"
  ]
%}

{% 
  set date = {
    "number": "11",
    "month": "марта"
  }
%}
<section class="home" id="section-home">
  <div class="container">
    <h1 class="title home__title home__title_general">АнтиZОЖ</h1>
    <div class="row home__content">
      <div class="col-12 col-xs-5 col-sm-6 home__content-info">
        <div class="home__content-info-flex flex">
          <h3 class="title home__attention">10-дневный<br>онлайн-марафон</h3>
          <h2 class="title home__subtitle">Всего за 10 дней Вы улучшите<br> самочувствие, внешний вид<br> и выработаете здоровые привычки,<br> которые останутся с Вами надолго!</h2>
        </div>
        <div class="home__date home__date_general">
          {{ landing.cube(date.number, date.month, 'home__cube') }}
        </div>
      </div>
      <div class="col-12 col-xs-7 col-sm-6 home__bg">
        <div class="home__bg-inner">
          <div class="home__date home__date_bg">
            {{ landing.cube(date.number, date.month, 'home__cube') }}
          </div>
          <p class="home__title home__title_bg">АнтиZОЖ</p>
          {{landing.image('img/catwomen-mobile.png', 'catwomen', 'home__bg-image home__bg-image_mobile')}}
          {{landing.image('img/catwomenonly.png', 'catwomen', 'home__bg-image home__bg-image_desktop')}}
          {{
            landing.button(
              'home__bg-button btn_white',
              'Программа марафона',
              {
                "data-scroll-to": "#section-programm"
              }
            )
          }}
        </div>
      </div>
    </div>
    <div class="row home__info">
      {% for item in info %}
        <div class="col-4 col-sm-4">
          <div class="home__info-block">
            <p>{{item|raw}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>