{% import 'macros/macros.landing.twig' as landing %}
{% set video = "https://www.youtube.com/embed/RlP2iR30LRM" %}
<section class="section video" id="section-video">
  <div class="container">
    {{
      landing.header(
        'video__header text-center color-brand-2', 
        {text: 'Что такое марафон АнтиZОЖ<br> и для кого он?', class: 'video__title'}
      )
    }}
    <div class="video__content">
      <div class="video__item">
        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" src="{{video}}" class="video__item-iframe"></iframe>
      
        {# 
          <div class="video__item-image">
            {{landing.image('img/video1.jpg', 'q-1', 'video__item-image')}}
            <div class="video__item-inner">
              <p class="video__item-title">Посмотрите<br>видеоприглашение</p>
              <button 
                class="video__item-btn" 
                data-action="modal" 
                data-open="#modal-section-video" 
                data-video="{{video}}" />
            </div> 
          </div>
        #}
      </div>
    </div>
    <div class="video__footer text-center">
      {{
        landing.button(
          'video__footer-button btn_brand-1', 
          'Эксперты и программа',
          {
            "data-scroll-to": "#section-experts"
          }
        )
      }}
    </div>
  </div>
</section>
<div class="modal" id="modal-section-video">
  <div class="modal__box modal__box_medium modal__box_transparent">
    <div class="modal__header">
      <button class="modal__close" data-close="modal">&times;</button>
    </div>
    <div class="modal__body">
      <div class="modal__video"></div>
    </div>
  </div>
</div>