{% import 'macros/macros.landing.twig' as landing %}
{% import 'site/index/experts/macros.twig' as expertsMacros %}
{% 
  set items = [
    {
      "image": "img/experts-hairov.png",
      "name": "Ренат<br>Хайров",
      "position": "врач",
      "quote": "«Только влияя на первопричину недугов, а не маскировку симптомов лекарствами, можно избежать болезней, прожить долгую и активную жизнь, полную здоровья и радости.»",
      "toggle": "expert-hairov",
      "education": [
        "Дальневосточный государственный медицинский университет(2000 - 2006 гг.)по специальности педиатрия.",
        "Институт хирургии им.А.В.Вишневского г.Москва - ординатура по сердечно - сосудистой хирургии(2007 - 2009 гг.)",
        "Канадский институт интегративной медицины(2018 - по настоящее время)"
      ],
      "experience": [
        "Краевая больница г. Хабаровск, через 10 месяцев - Федеральный Центр Сердечно-сосудистой хирургии г. Хабаровск (с 2009 г. по настоящее время)",
        "Врач первой категории",
        "5 лет изучает холистический - комплексный подход к лечению пациентов, пополняет свои знания из книг и научных статей зарубежных коллег, официальных рекомендаций по питанию США, Канады, Австралии.",
        "Более 2 лет консультирует взрослых и детей, применяя подход интегративной медицины, ставя во главу угла вопросы питания, физической активности, работы со стрессом, дополняя свои рекомендации назначением целевых добавок, лекарств, определяю показания к оперативному лечению, если это необходимо."
      ],
      "participation": [
        "Согласователь разработанного для участников марафона плана питания",
        "Встреча-вебинар “Атеросклероз, как основной убийца. Концепция  растительного питания.”",
        "В конце урока сессия “Вопрос-ответ”.",
      ]
    },
    {
      "image": "img/expert-ger.png",
      "name": "Вероника<br> Герасина",
      "position": "психолог",
      "quote": "«Я буду рядом с каждым из Вас на протяжении всего пути марафона, с готовностью поддержу и помогу Вам!»",
      "toggle": "expert-ger",
      "education": [
        "Башкирский Государственный Медицинский Университет. (1992-1998 гг.).",
        "Врач по специальности «Лечебное дело».",
        "Башкирский Государственный Медицинский Университет (1998-1999 гг.). Интернатура. Квалификация: Врач невролог.",
        "Действующий сертификат от 17.05.2016 г.",
        "Российская Медицинская Академия Последипломного Образования.(2006 г.). Профессиональная переподготовка. Специализация « Рефлексотерапия».",
        "Действующий сертификат от 17.05.2017 г.",
        "Московский Государственный Гуманитарный Университет имени М.А.Шолохова. (2009-2013). Специальность: Психолог. Преподаватель психологии.",
        "Московский Институт Гештальта и Психодрамы. (2009-2013 г.). 1, 2 ступень профессионального обучения. Специальность: гештальт – консультант, гештальт- терапевт.",
        "Московский Гештальт Институт (2015-2016 г.). Специализация «Телесная гештальт терапия. Ресурсы и техники».",
        "Московский Гештальт Институт (2017-2018 г.) Специализация «Бодинамика».",
      ],
      "experience": [
        "Занимаюсь индивидуальным психологическим консультированием и психотерапией около 10 лет. Веду психотерапевтические группы, авторские психологические тренинги.",
        "Работаю в медицинском центре «Теремок здоровья» психологом, врачом – неврологом, рефлексотерапевтом.",
        "Преподаю психологические дисциплины на программе переподготовки по психологии в Институте Консультирования Системных Решений (ИКСР).",
        "Сотрудничаю с авторским центром «Мир семьи», провожу вебинары в поддержку семей, оказавшихся в кризисной ситуации.",
        "Медицинский стаж более 20 лет. Работала в поликлинике, санатории медицинской службы системы УД Президента РФ.",
        "Преподаю психологические дисциплины на программе переподготовки по психологии более 7 лет, Работала в МГИКе, ИКСР."
      ],
      "participation": [
        "Живой урок по психологии. <br>Тема урока: «С чего начать движение к здоровому образу жизни? Какие здоровые привычки выбрать именно мне?»<br>Цель: научиться выбирать из всего списка здоровых привычек именно те, которые подходят мне в начале пути к здоровому образу жизни, с которых именно мне легче начать.<br>В результате вы научитесь способу, позволяющему выбирать из многочисленных здоровых привычек подходящие Вам в начале пути, поймете, на что опираться при выборе.",
        "Живой урок по психологии. <br>Тема урока: «Что мешает мне менять свои привычки?»<br>Цель: понять, что именно мешает Вам менять свой образ жизни, почему вы откладываете изменения на потом.<br>Поговорим о типичных ошибках на пути к изменениям своей жизни.<br>В результате вы увидите, что мешает именно Вам делать практические шаги  к переходу на здоровый образ жизни, сможете справиться с этим.<br>В конце занятия Вам будет дано домашнее задание в виде упражнения для закрепления результата.",
        "Живая встреча по психологии <br>Посвящается подведению итогов марафона для каждого участника.<br>Цель:  подвести итоги 10 дневного марафона лично для себя, увидеть свой результат и возможные сложности, определиться с дальнейшим движением на пути к здоровому образу жизни.<br>На встрече обсудим результаты сделанного домашнего задания – упражнения, отвечу на интересующие Вас вопросы.",
        "Ежедневная мотивационная поддержка психолога. <br>“Я буду на связи ежедневно в течение 2 часов. вы сможете задавать любые появившиеся у Вас вопросы, делиться появившимися результатами или сложностями. Помогу Вам в любой ситуации.”"
      ],
    },
    {
      "image": "img/expert-shestak.png",
      "name": "Екатерина<br> Шестак",
      "position": "учитель телесных<br>практик",
      "quote": "«Наблюдайте за собой, слушайте своё тело.»",
      "toggle": "expert-shestak",
      "experience": [
        "Федерация Йоги (2012 - 2014 гг.)",
        "Йога дом (2013 - 2014 гг.)",
        "Зебра Голден фитнес «Город Яхт» (2014 - 2015 гг.) ",
        "Школа Каула йоги (2014  - 2016 гг.)",
        "студия ESTETICA (2015 - 2016 гг.)",
        "Студия Воздух (2016 г.)",
        "Государственное образовательное учреждение высшего профессионального образования 'Мордовский государственный̆ университет им. Н.П. Огарева' (Преподаватель хореографических дисциплин. Хореография, Хореографическое творчество/Социально-Культурная деятельность и народное художественное творчество).",
        "Международная Федерация йоги (International Yoga Federation)",
        "Инструктор Хатха йоги, Ишвара йоги, Vinyasa Flow",
        "Семинары и мастер-классы по йоге в России и за рубежом (2000 – 2013 гг.) - Бал Мукунд Сингха, Кали Рей, Андрея Лаппы, Андрея Сидерского, Дениса Заенчковского, Анатолия Зенченко, Рейнхарда Гамментхаллера, А.Зенченко. и других преподавателей̆.",
        "Сертификат на право ведения занятий в начальных и основных группах (2011 г.)",
        "Знания в области анатомии, физиологии, аюрведы, пранаям, истории и философии йоги, шаткарм и других важных дисциплин.",
      ],
      "participation": [
        "2 видеоурока по техникам висцерального массажа",
        "1 видеоурок по дыхательным практикам",
        "1 видеоурок с практикой расслабления шейно-плечевого отдела",
        "3 видеоурока с практикой утреннего пробуждения",
        "1 видеоурок с техникой повышения эффективности и безопасности при любых физических активностях",
        "1 видеоурок с подробным разбором безопасного выполнения базовых физических упражнений (наклон, приседание, скручивание, прогиб и т.д.) ",
        "1 видеоурок с длинной йога-практикой для новичка",
        "Уроки сопровождаются текстовыми пояснениями и дополнительными материалами для более глубокого изучения темы.",
        "Обратная связь в виде ответов на вопросы по предоставленному материалу.",
      ],
      "photos": ["img/experts-shestak-photo-1.jpg", "img/experts-shestak-photo-2.jpg", "img/experts-shestak-photo-3.jpg"]
    },
    {
      "image": "img/expert-vladiko.png",
      "name": "Екатерина<br>Владыко",
      "position": "преподаватель<br>по фейс-фитнесу",
      "quote": "«вы научитесь делать себя красивой своими руками, полюбите свое отражение в зеркале и начнёте получать комплименты от близких и друзей.»",
      "toggle": "expert-vladiko",
      "experience": [
        "Сертифицированный лайф коуч - Эриксоновский университет",
        "Сертифицированный бьюти коуч - I love face fitness by Olena Rossoshynska",
        "Основатель проекта “Екатерина Владыко”"
      ],
      "participation": [
        "Видеоурок 1<br>Комплексы с разминкой - настройка на работу и получение результатов, улучшаем кровообращение и снимаем напряжение с мышц шеи.",
        "Видеоурок 2<br>открывается через 24 часа после первого урока<br>Лимфодренажные практики - справляемся с отечностью",
        "Видеоурок 3<br>Расслабляем мышцы лица - снимая напряжение с мышц лица, многие возрастные изменения сразу начнут проходить, улучшится сон и общее эмоциональное состояние",
        "Видеоурок 4<br>Комплекс на верхние и нижние веки - снимем отечность вокруг глаз, убираем мешки под глазами и поднимаем верхние веки.",
        "Видеоурок 5<br>Комплекс на носогубных треугольник - прощаемся с носогубными складками ",
        "Видеоурок 6<br>Комплекс сексуальные губы",
        "Видеоурок 7<br>Комплекс для четкого овала лица",
        "Встреча-вебинар “Знакомство с фейс фитнесом”",
        "“С Вами в мессенджере на протяжении всего обучающего процесса!”"
      ],
      "photos": ["img/expert-vladiko-1.jpg", "img/expert-vladiko-2.jpg"]
    },
    
    {
      "image": "img/experts-naumenko.png",
      "name": "Денис<br>Науменко",
      "position": "эксперт<br>по голоданию",
      "quote": "«Те или иные болезни - это сигнал о необходимости общего оздоровления.»",
      "toggle": "expert-naumenko",
      "health": [
        "Нервно-психических заболеваний: панические атаки, депрессия, страхи, навязчивые состояния, нервное истощение, дереализация/ деперсонализация.",
        "Сердечно-сосудистая система: тахикардия, высокое и низкое давления.",
        "Мочеполовая система : Простатит, камни в почках, кисты, болезненные МЦ, цистит.",
        "ЖКТ: Язвенная болезнь желудка и двенадцатиперстной кишки.",
        "И другие, такие как – лишний вес, мигрень, герпес, бронхит, насморк, хламидиоз, ОРВИ, синусит и тд."
      ],
      "experience": [
        "Практика голодания с 2000 г.",
        "Опыт голодания на воде от 1 до 7 суток (2000 - 2003 гг.)",
        "Сухие голодание общим количеством свыше 300 дней, от 1 до 3 суток (2003 - 2018 гг.)",
        "8,5 суток сухого голодания, диплом народного целителя и проводника по Сухому голоданию школы здоровья и долголетия Щенникова Л.А. (2008 г.) ",
        "Консультации по проведению эффективного сухого голодания с акцентом на правильный вход и выход (2009 - 2018 гг.)",
        "Опыт сыроедения/ фрукторианства (2009 - 2013 гг.)",
        "Практика условного голодания на травах и меде/на свежих соках  - 7 дней (2014 г.)",
        "7.5 суток сухого голодания (2017 г.)",
        "Противопаразитарные курсы, курсы по естественному очищению всех систем организма, по правильному питанию, по естественному дыханию, безбелковому сыроедению (2018 г.)",
        "Питание сырыми овощами, фруктами и зеленью (с 2018 г.)"
      ],
      "participation": [
        "Встреча-вебинар “К истинному здоровью через голодание”<br>Цель: узнать о сути, видах (сухое, водное, длительность), целях практики голодания, о том, как подготовиться к голоданию, как правильно «выходить» из голодания, как часто стоит голодать и с какой длительностью, как сделать время голодания комфортным, чем занять себя, как полюбить голодание.",
        "Поддержка в мессенджере участников, решивших сделать 9-ый день марафона разгрузочным<br>Обратная связь в виде ответов на вопросы по предоставленному материалу."
      ],
    },
    {
      "image": "img/expert-pamela.png",
      "name": "Нгатсала<br>Памэла<br>Жизель",
      "position": "спортивный<br>и фитнес-тренер",
      "quote": "«Не нужно стараться, нужно делать. Удачи!»",
      "toggle": "expert-pamela",
      "experience": [
        "Сертифицированный специалист федерации аэробики и фитнеса (с 2007 г.)",
        "Flexi bar (2012 - 2013 г.)",
        "Международный презентер конвенций mioff (2013, 2014, 2015 г.)",
        "Международный специалист программ Gymstick Original и Gymstick PT, X-CO shape, ",
        "Тренер Stott pilates (2013 г.)",
        "Преподаватель по пилатес для восстановления после родов (2016 г.)",
        "Дополнительное обучение Pilates method Alliance: Pilates mat with toy, Balanced body fit (2016 г.)",
        "Участник Coach club convention (2018 г).",
      ],
      "participation": [
        "Серия коротких видеоуроков по освоению техники безопасного и эффективного выполнения  планки, усложненной планки, планки с акцентом на ягодицы, планки с акцентом на нижнюю часть живота",
        "Серия коротких видеоуроков по освоению техники безопасного и эффективного выполнения  упражнения на укрепление мышц спины, усложнения упражнения с акцентом на трицепс",
        "Серия коротких видеоуроков по освоению техники безопасного и эффективного выполнения  отжимания, отжимания с усложнением, отжимания с двойным усложнением + видеоурок на понимание терминов “центр” и “кор”",
        "Серия коротких видеоуроков по освоению техники безопасного и эффективного выполнения упражнения на укрепление мышц живота, усложнения упражнения",
        "Короткий видеоурок на освоение техники безопасного и эффективного выполнения приседания",
        "Короткий видеоурок по расслабляющей экспресс-тренировке на рабочем месте  ",
        "Видеоурок от Памэлы Жизель с экспресс-тренировкой по расслаблению тела во время долгого перелёта<br>Обратная связь в виде ответов на вопросы по предоставленному материалу."
      ],
      "photos": ["img/experts-pamela-photo-1.jpg", "img/experts-pamela-photo-2.jpg", "img/experts-pamela-photo-3.jpg"]
    },
    {
      "image": "img/expert-suter.png",
      "name": "Денис<br>Сутер",
      "position": "спортивный<br>и фитнес-тренер",
      "quote": "«Успехов вам и не забывайте получать удовольствие!»",
      "toggle": "expert-suter",
      "experience": [
        "Мастер спорта по боксу (2014 г.)",
        "Чемпион Самарской области по боксу (2009 г.), призёр первенства г. Москвы по боксу (2009 г.), участник Азиатских игр по боксу (2007 г.), двукратный чемпион республики Казахстан (2008, 2014 гг.).",
        "Образование: Западно-Казахстанский государственный университет им. М. Утемисова, факультет физической культуры и спорт, специальность – учитель физической культуры (2008 г.).",
        "Сертификат Special training, инструктор занятий на петлях TRX (2014 г.). Сертифицированный специалист по функциональному тренингу. Тренер Outdoor.",
        "Специалист по функциональному тренингу с собственным весом и оборудованием.",
        "Тренер по подготовке к гонкам Reebok «Стань человеком».",
        "Опыт тренерской работы – с 2008 года, среди воспитанников – кандидат в мастера спорта по боксу, победители командного Кубка Москвы по боксу (2017 г.)."
      ],
      "participation": [
        "Видеоурок о техниках разогрева перед фитнес-тренировкой ",
        "2 Видеоурока “Короткая фитнес-тренировка для новичков” ",
        "2 Видеоурока “Короткая фитнес-тренировка для более высокого уровня подготовки”",
        "Видеоурок “Фитнес-тренировка на уличной спортивной площадке”",
        "3 Видеоурока от Дениса Сутера “Наиболее эффективные упражнения на проработку мышц нижней части тела/верхней части тела/мышц кора” ",
        "2 Видеоурока “Длинная универсальная фитнес-тренировка для всех уровней подготовки”  ",
        "Обратная связь в виде ответов на вопросы по предоставленному материалу.",
      ],
      "photos": ["img/experts-suter-photo-1.jpg", "img/experts-suter-photo-2.jpg", "img/experts-suter-photo-3.jpg", "img/experts-suter-photo-4.jpg"]
    }
  ]
%}
<section class="section experts" id="section-experts">
  <div class="container">
    {{
      landing.header(
      'experts__header text-center color-brand-2', 
      {text: 'Эксперты марафона'}
      )
    }}
    <div class="experts__slider-wrapper">
      <button class="experts__slider-button experts__slider-button_prev"></button>
      <button class="experts__slider-button experts__slider-button_next"></button>
      <div class="experts__slider ui-card-slider" id="experts-slider">
        {% for item in items %}
        <div class="experts__slider-item slide">
          <div class="row experts__slider-item-row">
            <div class="col-12 col-sm-6 experts__slider-item-image-cover">
              {{landing.image(item.image, '1', 'experts__slider-item-image')}}
            </div>
            <div class="col-12 col-sm-6">
              <p class="experts__slider-item-title">{{item.name|raw}}</p>
              <p class="experts__slider-item-subtitle">{{item.position|raw}}</p>
              <blockquote class="experts__slider-item-blockquote">{{item.quote}}</blockquote>
            </div>
            
          </div>
          <div class="experts__slider-item-footer">
            {{landing.toggle("#" ~ item.toggle, 'Свернуть информацию', 'Узнать больше про эксперта', 'experts__slider-item-toggle')}}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="experts__content">
      {% for item in items %}
        <div id="{{item.toggle}}" class="experts__content-item">
          <div class="row experts__content-item-row">
            {% if (item.experience or item.education) %}
              <div class="col-12 col-sm-6 experts__content-item-column">
                {{expertsMacros.contentItem(item.experience, 'Опыт работы:')}}
                {{expertsMacros.contentItem(item.education, 'Образование: ')}}
              </div>
            {% endif %}
            {% if (item.participation or item.health) %}
              <div class="col-12 col-sm-6 experts__content-item-column">
                {{expertsMacros.contentItem(item.health, 'Опыт успешного исцеления:')}}
                {{expertsMacros.contentItem(item.participation, 'Участие в марафоне:')}}
              </div>
            {% endif %}
          </div>
          {% if item.photos %}
            <div class="experts__content-item-gallery">
              {% for photo in item.photos %}
                {{landing.image(photo, item.name|striptags, 'experts__content-item-gallery-image')}}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>