{% import 'macros/macros.landing.twig' as landing %}
{% import 'site/index/experts/macros.twig' as expertsMacros %}
<section class="section experts" id="section-experts">
  <div class="container">
    {{
      landing.header(
      'experts__header text-center color-brand-2', 
      {text: 'Эксперты марафона'}
      )
    }}
    <div class="experts__slider-wrapper">
      <button class="experts__slider-button experts__slider-button_prev"></button>
      <button class="experts__slider-button experts__slider-button_next"></button>
      <div class="experts__slider ui-card-slider" id="experts-slider">
        {% for item in items %}
        <div class="experts__slider-item slide">
          <div class="row experts__slider-item-row">
            <div class="col-12 col-sm-6">
              <p class="experts__slider-item-title">{{item.name|raw}}</p>
              <p class="experts__slider-item-subtitle">{{item.position|raw}}</p>
              <blockquote class="experts__slider-item-blockquote">{{item.quote}}</blockquote>
            </div>
            <div class="col-12 col-sm-6">
              {{landing.image(item.image, '1', 'experts__slider-item-image')}}
            </div>
          </div>
          <div class="experts__slider-item-footer">
            {{landing.toggle("#" ~ item.toggle, 'Свернуть информацию', 'Узнать больше о тренере')}}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="experts__content">
      {% for item in experts %}
        <div id="{{item.toggle}}" class="experts__content-item">
          <div class="row experts__content-item-row">
            {% if (item.experience or item.education) %}
              <div class="col-12 col-sm-6 experts__content-item-column">
                {{expertsMacros.contentItem(item.experience, 'Опыт работы:')}}
                {{expertsMacros.contentItem(item.education, 'Образование: ')}}
              </div>
            {% endif %}
            {% if item.participation %}
              <div class="col-12 col-sm-6 experts__content-item-column">
                {{expertsMacros.contentItem(item.participation, 'Участие в марафоне:')}}
              </div>
            {% endif %}
          </div>
          {% if item.photos %}
            <div class="experts__content-item-gallery">
              {% for photo in item.photos %}
                {{landing.image(photo, item.name|striptags, 'experts__content-item-gallery-image')}}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>